.banners-wrapper
{
    width: 100%;
    height: 0;
    min-width: 1280px;
    padding-bottom: 15%;
    overflow: hidden;
}
.banners
{
    width: 300%;
    height: 0;
    min-width: 3840px;
    padding-bottom: 15%;
    display: flex;
    display: -webkit-flex;
    animation: movingbanners 20s ease-in-out infinite;
    -webkit-animation: movingbanners 20s ease-in-out infinite;
}
@keyframes movingbanners
{
    0% {transform: translateX(0);}
    12.5% {transform: translateX(0);}
    25% {transform: translateX(-33.3333%);}
    37.5% {transform: translateX(-33.3333%);}
    50% {transform: translateX(-66.6667%);}
    62.5% {transform: translateX(-66.6667%);}
    75% {transform: translateX(-33.3333%);}
    87.5% {transform: translateX(-33.3333%);}
    100% {transform: translateX(0);}
}
@-webkit-keyframes movingbanners
{
    0% {transform: translateX(0);}
    12.5% {transform: translateX(0);}
    25% {transform: translateX(-33.3333%);}
    37.5% {transform: translateX(-33.3333%);}
    25% {transform: translateX(-66.6667%);}
    62.5% {transform: translateX(-66.6667%);}
    75% {transform: translateX(-33.3333%);}
    87.5% {transform: translateX(-33.3333%);}
    100% {transform: translateX(0);}
}
#banner1
{
    width: 33.3333%;
    padding-bottom: 5%;
    background-image: url(../image/category_page/category_page_banner_1.png);
}
#banner1-icon
{
    width: 58px;
    height: 55px;
    margin: auto;
    transform: translateY(3.59375vw);
    -webkit-transform: translateY(3.59375vw);
}
#banner1-text
{
    width: 400px;
    height: 36px;
    margin: auto;
    font-size: 27px;
    text-align: center;
    transform: translateY(5.390625vw);
    -webkit-transform: translateY(5.390625vw);
}
#banner2
{
    width: 33.3333%;
    padding-bottom: 5%;
    background-image: url(../image/category_page/category_page_banner_2.png);
}
#banner2-logobox
{
    width: 188px;
    height: 105px;
    margin: auto;
    transform: translateY(3.515625vw);
    -webkit-transform: translateY(3.515625vw);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}
#banner2-logobox *
{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
#banner2-whitebg
{
    width: 188px;
    height: 105px;
    background-color: rgba(252, 252, 250, 0.961);
    box-shadow: 7.217px 8.302px 9px 1px rgba(0, 0, 0, 0.18);

}
#banner2-blackborder
{
    width: 162px;
    height: 84px;
    border: 2px solid rgb(60, 60, 60, 0.851);
    box-sizing: border-box;
}
#banner2-logobox img
{
    width: 147px;
    height: auto;
}  
#banner3
{
    width: 33.3333%;
    padding-bottom: 5%;
    background-image: url(../image/category_page/category_page_banner_3.png);
}
#banner3-recommendation-wrapper
{
    width: 782px;
    height: 94px;
    margin: auto;
    border: 3px solid rgb(77, 73, 71);
    box-sizing: border-box;
    background-color: rgb(240, 239, 239);
    box-shadow: inset 0px 0px 0px 0px rgba(6, 0, 1, 0.004);
    transform: translateY(4.140625vw);
    -webkit-transform: translateY(4.140625vw);
}
#recommendation-today
{
    width: 776px;
    height: 34px;
    font-size: 20px;
    text-align: center;
    line-height: 34px;
}
#recommendation
{
    width: 776px;
    height: 54px;
    font-size: 24px;
    text-align: center;
    line-height: 54px;
}
  
.dots
{
    width: 134px;
    height: 15px;
    margin: auto;
    transform: translateY(-20px);
    z-index: 2;
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}
.dot
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0px 1px 0px 0px rgba(113, 112, 111, 0.004);
}
#dot1
{
    animation: dot1 20s ease-in-out infinite;
    -webkit-animation: dot1 20s ease-in-out infinite;
}
#dot2
{
    animation: dot2 20s ease-in-out infinite;
    -webkit-animation: dot2 20s ease-in-out infinite;
}
#dot3
{
    animation: dot3 20s ease-in-out infinite;
    -webkit-animation: dot3 20s ease-in-out infinite;
}
@keyframes dot1
{
    0% {background-color: rgb(217, 210, 207);}
    12.5% {background-color: rgb(217, 210, 207);}
    12.51% {background-color: rgb(77, 73, 71)}
    99.99% {background-color: rgb(77, 73, 71)}
    100% {background-color: rgb(217, 210, 207);}
}
@-webkit-keyframes dot1
{
    0% {background-color: rgb(217, 210, 207);}
    12.5% {background-color: rgb(217, 210, 207);}
    12.51% {background-color: rgb(77, 73, 71)}
    99.99% {background-color: rgb(77, 73, 71)}
    100% {background-color: rgb(217, 210, 207);}
}
@keyframes dot2
{
    0% {background-color: rgb(77, 73, 71)}
    24.99% {background-color: rgb(77, 73, 71)}
    25% {background-color: rgb(217, 210, 207);}
    37.5% {background-color: rgb(217, 210, 207);}
    37.51% {background-color: rgb(77, 73, 71);}
    74.9% {background-color: rgb(77, 73, 71);}
    75% {background-color: rgb(217, 210, 207);}
    87.5% {background-color: rgb(217, 210, 207);}
    87.51% {background-color: rgb(77, 73, 71);}
    100% {background-color: rgb(77, 73, 71);}
}
@-webkit-keyframes dot2
{
    0% {background-color: rgb(77, 73, 71)}
    24.99% {background-color: rgb(77, 73, 71)}
    25% {background-color: rgb(217, 210, 207);}
    37.5% {background-color: rgb(217, 210, 207);}
    37.51% {background-color: rgb(77, 73, 71);}
    74.9% {background-color: rgb(77, 73, 71);}
    75% {background-color: rgb(217, 210, 207);}
    87.5% {background-color: rgb(217, 210, 207);}
    87.51% {background-color: rgb(77, 73, 71);}
    100% {background-color: rgb(77, 73, 71);}
}
@keyframes dot3
{
    0% {background-color: rgb(77, 73, 71);}
    49.99% {background-color: rgb(77, 73, 71);}
    50% {background-color: rgb(217, 210, 207);}
    62.5% {background-color: rgb(217, 210, 207);}
    62.51% {background-color: rgb(77, 73, 71);}
    100% {background-color: rgb(77, 73, 71);}
}
@-webkit-keyframes dot3
{
    0% {background-color: rgb(77, 73, 71);}
    49.99% {background-color: rgb(77, 73, 71);}
    50% {background-color: rgb(217, 210, 207);}
    62.5% {background-color: rgb(217, 210, 207);}
    62.51% {background-color: rgb(77, 73, 71);}
    100% {background-color: rgb(77, 73, 71);}
}

#categorypage-result-wrapper
{
    width: 100%;
}
.categorybar
{
    width: 915px;
    height: 29px;
    margin: 34px auto 30px auto;
    border-bottom: 1px solid rgba(5, 5, 5, 0.078);
}
.categorybar ul
{
    width: 221px;
    height: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-start;
}
.categorybar li
{
    list-style-type: none;
    display: inline;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 4px;
    vertical-align: text-top;
}
.hint
{
    color: rgba(5, 5, 5, 0.67);
}
#selectedcategory
{
    color: #ea9a43;
}
#hovercategory
{
    color: #ea9a43;
}
#categorypage-result
{
    width: 915px;
    height: 936px;
    margin: 0 auto 225px auto;
}
#categorypage-books-wrapper
{
    width: 915px;
    height: 806px;
    margin-bottom: 80px;
}
#categorypage-books
{
    width: 915px;
    height: 806px;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
} 