/* 加载动画 */
.loading
{
    width: 100%;
    height: 100%;
    background-color: #d6d2d2;
    opacity: 0.851;
    z-index: 5;
    position: fixed;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.loading p
{
    margin: 0;
    font-size: 36px;
    text-align: center;
}
.loadingdots
{
    width: 174.2px;
    height: 23px;
    margin-top: 19px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}
.loadingdot
{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #eff3f6;
    opacity: 0.902;
}

.wrapper
{
    width: 100%;
    min-width: 1280px;
    height: 100%;
}

/* 背景 */
.bg
{
    width: 100%;
    min-width: 1280px;
    background-image: url(../image/index/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}
.bg::before
{
    content: " ";
    padding-top: 67.5%;
    display: block;
}

/* 弹出登录框 */
.showpopup
{
    padding: 3.4375% 4.375% 14.296875% 0;
    float: right;
}
.showpopup:hover
{
    cursor: pointer;
}

/* 显示用户名 */
.username
{
    height: 21.2px;
    padding: 4.515625% 3.3046875% 14.296875% 0;
    font-size: 18px;
    color: #727479;
    text-decoration: underline;
    text-align: right;
    line-height: 21.2px;
    float: right;
    position: relative;
    z-index: 2;
}

/* LOGO */
.logobox
{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}
.logobox *
{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.whitebg
{
    width: 265px;
    height: 143px;
    background-color: #ffffff;
    opacity: 0.961;
    box-shadow: 7.217px 8.302px 9px 1px rgba(0, 0, 0, 0.18);
}
.blackborder
{
    width: 233px;
    height: 117px;
    border: 2px solid #585958;
    box-sizing: border-box;
}
.logobox img
{
    width: 215px;
}

/* 标语 */
.slogan
{
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 2.6667%;
    font-size: 18px;
    color: #3f3121;
    opacity: 0.65;  
    text-align: center;   
}

/* 分类 */
.index-categories
{
    width: 289px;
    height: 24px;
    margin: auto;
    padding-top: 2.6667%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}
.index-categories *
{
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.index-category
{
    width: 69px;
    height: 24px;
    border: 1px solid #868181;
    border-radius: 12px;
    background-color: #efefef;
    font-weight: lighter;
    color: #040404;
    line-height: 24px;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.11);
}
.index-category:hover
{
    border: 1px solid #eef0f0;
    background-color: #636565;
    color: #ffffff;
    opacity: 0.76;
    cursor: pointer;
}
  
/* 登录框 */
.loginform
{
    width: 657px;
    height: 451px;
    margin: -225.5px auto 0 -328.5px;
    border: 2px solid rgba(77, 73, 71, 0.902);
    box-sizing: border-box;
    background-color: rgb(239, 243, 246, 0.902);
    box-shadow: inset 0px 0px 0px 0px rgba(6, 0, 1, 0.66);
    top: 50%;
    left: 50%;
    position: fixed;
    z-index: 3;
    display: none;
}
  
.close
{
    width: 100%;
    z-index: 4;
    position: absolute;
}
#close-icon
{
    margin: 18px 21px 0 0;
    float: right;
}
#close-icon:hover
{
    cursor: pointer;
}
.f-logobox
{
    width: 100%;
    margin: 39px auto 53px auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}
.f-logobox *
{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.f-whitebg
{
    width: 148px;
    height: 83px;
    background-color: #fcfcfa;
    opacity: 0.961;
    box-shadow: 7.217px 8.302px 9px 1px rgba(0, 0, 0, 0.18);
}
.f-blackborder
{
    width: 127px;
    height: 65px;
    border: 2px solid #3c3c3c;
    opacity: 0.851;
    box-sizing: border-box;
}
.f-logobox img
{
    width: 116px;
    height: auto;
}
.loginarea
{
    width: 386px;
    height: 225px;
    margin: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
.description
{
    width: 73px;
    height: 23px;
    margin-top: 5px;
    font-size: 22px;
    line-height: 23px;
    text-align: center;
}
.input
{
    width: 286px;
    height: 46px;
    outline: none;
    margin-top: 5px;
    border: 0.1px solid #000000;
    border-radius: 21px;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: #fcfcfc;
    box-shadow: 3.28px 3.774px 9.9px 1.1px rgba(0, 0, 0, 0.11);
    font-size: 18px;
    color: #4d4f55;
    line-height: 70px;
}
.input::-webkit-input-placeholder
{
    color: #4d4f55;
    letter-spacing: 5px;
}
.input:-moz-placeholder
{
    color: #4d4f55;
    letter-spacing: 5px;
}
.input::-moz-placeholder
{
    color: #4d4f55;
    letter-spacing: 5px;
}
.input:-ms-input-placeholder
{
    color: #4d4f55;
    letter-spacing: 5px;
}
#password::-webkit-input-placeholder
{
    letter-spacing: -12px;
}
#password:-moz-placeholder
{
    letter-spacing: -12px;
}
#password::-moz-placeholder
{
    letter-spacing: -12px;
}
#password:-ms-input-placeholder
{
    letter-spacing: -12px;
}
#login
{
    width: 100px;
    height: 39px;
    outline: none;
    margin: auto;
    border: 1px solid #a4a5a6;
    border-radius: 21px;
    background-color: #eff3f6;
    opacity: 0.729;
    box-shadow: 3.28px 3.774px 9.9px 1.1px rgba(0, 0, 0, 0.11),inset 0px 3px 7px 0px rgba(0, 0, 0, 0.31);
    font-size: 18px;
    color: #727479;
    line-height: 39px;
    text-align: center;
    letter-spacing: 1px;
}
#login:hover
{
    cursor: pointer;
}
#login:active
{
    background-color: #4d4947;
    color: #eff3f6;
}
.signup
{
    margin: 0 141.6px 58px 0;
    border-bottom: 1px solid #727479;
    color: #727479;
    text-align: right;
    right: 0;
    bottom: 0;
    z-index: 4;
    position: absolute;
}
.signup:hover
{
    cursor: pointer;
}